<header>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/#about">about</a></li>
        <li><a href="/formular">Your Opinion</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/#aesthetics">aesthetics +</a>
            <ul>
                <li><a href="/grunge">Grunge</a></li>
                <li><a href="/retro">Retro</a></li>
                <li><a href="/cyberpunk">Cyberpunk</a></li>
                <li><a href="/barbie">Barbie Core</a></li>
            </ul>
        </li>
    </ul>
</header>
