<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Barbie Core</title>
</head>
<body data-page="barbie">
    <%-include('partials/header') %>
    <main>
        <div class="barbie">
            <div class="title">
                <h1 data-value="barbie">Barbie Core</h1>
            </div>
            <div class="container3">
                <div class="text-content3">
                    <div class="B1 animation">
                        <h2>What is Barbie Core?</h2>
                         <p>Barbiecore is a hyperfeminine aesthetic inspired by Mattel fashion doll Barbie. Barbiecore is the more kid-friendly version of its more adult, jaded, McBling inspired sisters Bubblegum Bitch and Bimbocore. The main defining characteristic of this aesthetic, which can vary in fashion style, is the color hot pink.The aesthetic also includes more "girly" 2000s television series like Lizzie McGuire and Hannah Montana, which focused on middle class American families. These shows encouraged confidence, female friendships, and girl power. Other products produced for tweens and teens in the early 2000s, like LipSmacker, are also part of the aesthetic.</p>
                     </div>
                    <div class="B2 animation">
                        <h2>BarbieCore fashion</h2>
                        <p>Fashion takes inspiration from the Soft Girl, Baddie, Pretty Preppy, and Pink Princess fashion, though with fashion inspired by specific Barbie movies there can be crossover with Key West Kitten, Fairycore, and Equestrian aesthetics. The cutesy graphics can cause a crossover with Sanriocore or Unicorncore.Barbie is most often depicted as a white woman with blonde hair and blue eyes. People who do not naturally look like this sometimes wear a blonde wig and blue contact lenses to be more recognizable as Barbie, but this is not necessary. Anyone of any ethnicity can be a Barbie girl just like there are Barbie dolls of all ethnicities.</p>
            
                    </div>
                </div>
                <div class="slider3 animation">
                    <span id="slide-B1"></span>
                    <span id="slide-B2"></span>
                    <span id="slide-B3"></span>
                    <div class="image-container3">
                        <img src="images/barbie1.jpg" class="slide3" width="300" height="500"/>
                        <img src="images/barbie3.jpg" class="slide3" width="300" height="500"/>
                        <img src="images/barbie2.jpg" class="slide3" width="300" height="500"/>
                    </div>
                    <div class="buttons3">
                        <a href="#slide-B1"></a>
                        <a href="#slide-B2"></a>
                        <a href="#slide-B3"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
   <%- include('partials/footer') %>
   
</body>
</html>
