<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Aesthetic Outfits</title>
</head>
<body>
    
        <%-include('partials/header') %>
    
    <div class="smooth">
        <section id="home">
            <video autoplay loop muted playsinline class="background-clip">
                <source src="video2.mp4" type="video/mp4">
            </video>
            <div class="overlay">
                <h2>Find Your<br>Style</h2>
            </div>
        </section>
        <section id="about">
            <h2>Welcome to Fashion Aesthetics!</h2><h2> Explore Different Aesthetics</h2>
            <p><span>GRUNGE</span>: We focus on the bold and unconventional aspect of grunge style, exploring its origins in the alternative music movement of the '90s and its influence on contemporary fashion. We will showcase the latest trends in grunge fashion, from essential pieces like rock band t-shirts and distressed jeans to how to combine these elements to create an authentic and unconventional look.</p>
        
            <p><span>Retro</span>: In the section dedicated to retro aesthetics, we will travel back in time to explore the vibrant and distinctive fashion of the '70s and '80s. We will examine the bold colors, bold patterns, and iconic motifs that defined the fashion of that period and offer suggestions on how to embrace this style in a modern way.</p>

            <p><span>Barbie Core</span>: For those who love feminine, colorful, and playful aesthetics, the Barbie Core section is the perfect place. We will explore the universe of the beloved Barbie character, bringing to the forefront pastel colors, striped prints, and design elements inspired by the world of dolls.</p>
        
            <p><span>Cyberpunk</span>: In a futuristic and technological world, cyberpunk aesthetics draw attention with its avant-garde design and futuristic elements. We will explore how fashion intertwines with technology and pop culture to create a dystopian and nonconformist look.</p>
        
            <h2>About Us</h2>
            <p>Fashion Aesthetics is an online destination for fashion enthusiasts looking to explore and embrace diversity and innovation in fashion. Founded in [year of founding], our blog aims to provide inspiration and useful information for all those interested in current fashion trends and the latest developments in the world of clothing aesthetics. Our team consists of experts in the field of fashion and culture, passionate about exploring and promoting unique and innovative styles. Join us on our journey through the fascinating world of fashion and clothing aesthetics!</p>
        </section>
       
   </div>
   <%-include('partials/footer') %>
</body>
</html>
